.coming-soon-box {
    background-color: rgb(35, 2, 2);
    border-radius: 10px;
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-constant-width {
    width: 150px;  /* or whatever width you desire */
}
