.container {
    width: 80%;
    height: 80vh; // Adjust this value as needed
    overflow-y: scroll;
    margin: 50px auto 0;
    text-align: justify;
    scrollbar-width: thick;
    scrollbar-color: black #f1f1f1;

    // Scrollbar styles
    &::-webkit-scrollbar {
        width: 30px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 15px; // Half of the width to make it rounded
    }

    &::-webkit-scrollbar-track {
        background-color: #ede5de;
    }


}


.mainTitle {
    border-bottom: 4px solid #17a2b8; // Info color
    display: inline-block;
    padding-bottom: 5px; // To give some space between the text and the underline
}


.level0 {
    font-weight: bold;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 14px;
        bottom: 0;
        width: 4px;
        background-color: #17a2b8;
    }
}

.level1 {
    margin-left: 20px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 14px;
        height: 4px;
        width: 10px;
        background-color: #17a2b8;
    }
}

.roundedSquare {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #17a2b8; // Info color
    border-radius: 3px; // Half of the width to make it rounded
    margin-right: 3px;
}

.link {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}


.cardStyle {
    margin-right: 40px; // Adjust this value as needed
    margin-bottom: 20px; // Space between cards
}

.section {
    margin-right: 20px;
    & > p {
        margin-left: 20px; // Indent only the paragraphs
    }
}
