.topdiv {
    height: 0vh;
}

.container {
    display: flex; /* Add this line */
    flex-direction: column; /* Use column for vertical stacking of children */
    align-items: center; /* Center children vertically */
    // justify-content: center; /* Center children horizontally */
    width: 96vw;
    height: 90vh; /* Adjust this value as needed */
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    overflow-y: auto;
    text-align: justify;
    scrollbar-width: thick;
    scrollbar-color: #6C5B7B #f1f1f1;

    /* Scrollbar styles */
    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #6C5B7B;
        border-radius: 15px; /* Half of the width to make it rounded */
    }

    &::-webkit-scrollbar-track {
        background-color: #ede5de;
    }
}


.profileContainer {
    width: 95%;
    margin: 50px auto 20px;
    // text-align: justify;
}

// .card {
//     height: 450px; /* Adjust this value based on your needs */
//     overflow: hidden; /* This ensures content doesn't overflow the card */
//   }
  
//   .card-img-top {
//     height: 300px; /* You already have this */
//     object-fit: cover;
//     /* objectPosition: center; Uncomment if needed */
//   }
  
//   .card-body {
//     height: 150px; /* Adjust this value based on your needs */
//     overflow: hidden; /* Hides overflowed text */
//     text-overflow: ellipsis; /* Optional: Adds ellipsis to overflowed text */
//   }
  
//   .card-text {
//     display: -webkit-box;
//     -webkit-line-clamp: 5; /* Limits the text to 3 lines */
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
  